<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/app/styles/home/home.css">
  <title>Play</title>
</head>
<body>

  <header>

  </header>

  <main>

    <div class="middle-container">

        <div class="card back-card-left"></div>

        <div class="card">
          <div class="btn add-new-card-button">+</div>
        </div>

        <div class="card back-card-right"></div>


      <div class="bottom-text">
        <h1>Create Your First Deck</h1>
      </div>

    </div>

  </main>
  
</body>
</html>